:root {
  --bs-primary-rgb-alt: 0, 127, 255;
  --bs-body-bg-alt: #0c0d0e;
}

* { font-family: 'Noto Sans', sans-serif; }

/* http://webkit-scroll-gen.sourceforge.net/ */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-button { width: 0px; height: 0px; }
::-webkit-scrollbar-thumb { background: #18191a; border: 0px none #ffffff; border-radius: 0px; }
::-webkit-scrollbar-thumb:hover { background: #242526 }
::-webkit-scrollbar-thumb:active { background: #000000 }
::-webkit-scrollbar-track { background: #0c0d0e; border: 0px none #ffffff; border-radius: 0px; }
::-webkit-scrollbar-track:hover { background: #0c0d0e }
::-webkit-scrollbar-track:active { background: #0c0d0e }
::-webkit-scrollbar-corner { background: transparent }

html.dark a { color: #a0cfff; }
html.dark a:active,
html.dark a:hover { color: #fff; }
html.dark .btn { border-radius: 0; }
html.dark .btn-primary { background-color: rgb(0, 127, 255); border-color: rgb(0, 127, 255); }
html.dark .btn-primary:hover,
html.dark .btn-primary:focus { background-color: rgb(0, 89, 178); border-color: rgb(0, 89, 178); }
html.dark .navbar-dark .navbar-nav .nav-link { color: #fafafacc; margin-right: 1em; }
html.dark .navbar-dark .navbar-nav .nav-link:focus,
html.dark .navbar-dark .navbar-nav .nav-link:hover { color: #fafafaff; }
html.dark .progress { border-radius: 0; }
html.dark .progress-bar.bg-primary { color: #fff; overflow: visible; }

html.dark #navbar { background-color: rgb(24, 26, 27); }
html.dark #navbar .form-control { background-color: #fff1; border-width: 0; border-radius: 0; color: #fff }
html.dark #navbar ::placeholder { color: #fff6 }
html.dark #navbar .nav-link.active { background-color: #fff1 }
html.dark .form-control:focus { box-shadow: 0 0 0 .25rem #77777740; }

/*html.dark .link-light:focus,*/
html.dark .link-light:hover { color: rgb(50,203,255); }

html.dark .nav-tabs { border-bottom: none; }
html.dark .nav-tabs .nav-item.show .nav-link,
html.dark .nav-tabs .nav-link.active { color: #fff; background-color: transparent; border-width: 0 0 3px 0; border-color: #fff; }
html.dark .nav-tabs .nav-link { color: rgba(255, 255, 255, 0.5); border-width: 0; }
html.dark .nav-tabs .nav-link:hover { color: #fff; border-bottom: solid 3px #fff; }

html.dark .tooltip-inner { text-align: start; max-width: 400px; background: #000; color: #fff; }
html.dark .tooltip.show { opacity: 1 }
html.dark .bs-tooltip-auto[data-popper-placement^="bottom"] .tooltip-arrow::before, html.dark .bs-tooltip-bottom .tooltip-arrow::before { border-bottom-color: #000; }

.card { border-radius: 0; }
html.dark .card { background-color: #151515; }
.fs-80pc { font-size: 80% !important; }
.offcanvas .navbar-nav { flex-direction: row; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>') no-repeat 50% 50%;
  filter: invert(1);
  background-size: contain;
  opacity: 0.5;
}

.label-aligned { width: 10rem; padding-top: 0.5rem; }

.media-card {
  position: relative;
  cursor: pointer;
  margin: 0.5em;
  overflow: hidden;
  font-size:  80%;
}
.media-card,
.media-card.portrait {
  min-width: 150px;
  max-width: 342px;
  width: 9vw;
}
.media-card.landscape {
  min-width: 300px;
  max-width: 780px;
  width: 20vw;
}
.mixed-content .media-card.portrait {
  max-width: 292.5px; /* 780 (max-width serie) * 2/3 (ratio poster film) * 9/16 (ratio poster série) */
}
.mixed-content .media-card.landscape {
  min-width: 400px; /* 150 (min-width film) * 3/2 (ratio poster film) * 16/9 (ratio poster série) */
  width: 26.6667vw; /* 10 (width film) * 3/2 (ratio poster film) * 16/9 (ratio poster série) */
}
.media-card.selected,
.media-card.audience-not-set { box-shadow: 0 0 0 4px #cb2b2b; }
/*.media-card.audience-not-set:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid #cb2b2b;
}
.media-card:hover {
  box-shadow: 0px -10px 30px 3px rgba(145,176,255,0.15);
}
*/

.media-card.muted .poster { filter: grayscale(75%); }
.media-card.muted:hover .poster { filter: none; }

.media-card .poster,
.media-card.portrait .poster {
  min-width: 150px;
  max-width: 342px;
}

.media-card.landscape .poster {
  min-width: 300px;
  max-width: 780px;
}

.media-card .poster,
.media-poster .poster {
  display: block;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.media-card .poster,
.media-card.portrait .poster,
.media-poster .poster {aspect-ratio: 2/3;}
.media-card.landscape .poster { aspect-ratio: 16/9; }

.poster > img { position: absolute; width: 100%; height: auto; aspect-ratio: 2/3; }
.movie .poster > img { aspect-ratio: 2/3; }
.tvshow .poster > img { aspect-ratio: 16/9; }
.episode-card .poster { position: relative; min-width: 300px; width: 300px; height: 169px; }
.saga-episode-card .poster { position: relative; min-width: 185px; width: 185px; height: 277.5px; }
.saga-episode-card .poster > img { aspect-ratio: 2/3; }
.poster .no-poster-picture {
  position: absolute;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  opacity: 0.25;
}
/*.audience-not-set .poster .no-poster-picture { width: calc(100% - 12px); }  problème de centrage si taille mini des vignettes
.media-card:hover .poster {
  opacity: 0.6;
}*/
.poster b {
  cursor: pointer;
  opacity: 0;
  transition: all linear 0.1s;
  position: absolute;
  top: 40%;
  left: 30%;
  width: 40%;
  aspect-ratio: 1;
  color: #fff;
  background: rgba(0,0,0,1);
  border-radius: 50%;
  padding: 5%;
}
.landscape .poster b { left: 40%; width: 20%; }
.episode-card .poster b { top: 23.3%; width: 30%; } /* (1 - 30/100 * 16/9) / 2 = 23.3 */
.poster b svg {
  margin-left: 5%;
  margin-top: 2.5%;
}
.poster i { display: block; text-align: center; opacity: 0; transition: all linear 0.1s; position: absolute; left: 0; right: 0; }
.poster em { display: inline-block; padding: 0.5rem; margin-right: 1rem; background-color: rgba(0,0,0,0.33); }
.poster em:hover { background-color: rgba(0, 131, 176, 0.2); color: rgb(50, 203, 255); }
.poster em.active { color: rgb(209, 71, 71); }
/*.poster em svg { width: 20px; }*/
.media-card:hover .poster i { opacity: 1; }

.media-poster:hover .poster b,
.media-card:hover .poster b,
.episode-card:hover .poster b {
  opacity: 0.33;
}

.media-poster:hover .poster b:hover,
.media-card:hover .poster b:hover,
.episode-card:hover .poster b:hover {
  opacity: 1;
  color: rgb(50, 203, 255);
  background: rgba(0, 131, 176, 0.2);
  transform: scale(1.25);
}

.media-card .title {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  color: #fff;
  padding: 0.2rem 0;
  opacity: 0.5;
  transition: opacity linear 0.15s;
}

.media-card .title:hover { text-decoration: underline; }

.media-card .infos {
  display: block;
  text-align: center;
  color: #fff9;
  font-size: 90%;
  opacity: 0.4;
  transition: opacity linear 0.15s;
}

.media-card:hover .title,
.media-card:hover .infos { opacity: 1; }

.media-card .year { display: inline-block; margin-right: 0.5rem; }
.media-card .year:only-child { width: 100%; margin: 0; text-align: center; }
.media-card .duration { display: inline-block; margin-left: 0.5rem; }
.media-card .lang {
  font-weight: bold;
  display: inline-block;
  margin: 0;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-card .next-episode {
  display: block;
  width:  100%;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-poster {
  min-width: 300px;
  max-width: 780px;
  width: 20vw;
  float: left;
  overflow: hidden;
}
.tvshow .media-poster, /*{ margin: 0 3vw; }*/
.movie .media-poster { margin: 5vh 3vw 0 3vw; }

span.poster .progress-bar,
div.media-card .progress-bar {
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.05);
}

.poster .progress-bar > div,
.media-card .progress-bar > div {
  height: 4px;
  background: #32cbff;
}

.title-bar { padding: 1em; background: rgba(0,0,0,0.75); }
.portrait .title-bar { margin-top: 6vh; }
.landscape .title-bar { margin-top: 2rem; }

.title-bar h2 { font-weight: bold; }
.title-bar h6 { font-weight: bold; opacity: 0.6; }

.media-details .actions .active,
.media-details .actions .active:focus,
.media-details .actions .active:hover { color: rgb(209, 71, 71); }

.media-details .cast > a,
.media-details .cast > a:hover,
.media-details .cast > a:active { color: #fff; }
.media-details .cast + .cast:before { content: ", "; text-decoration: none; }

.content-bar {
  background: rgba(0,0,0,0.5);
  padding: 1em;
}

.content-bar .dt { display: inline-block; width: 110px; }
.content-bar .dd { font-weight: bold; }
.content-bar .synopsis { max-width: 1000px; }

.cast-card {
  width: 185px;
  margin: 1em 0.5vw;
  border-radius: 5px;
  overflow: hidden;
  font-size:  90%;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.cast-card .character,
.cast-card .actor {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

.cast-card .actor { color: #fff; padding: 0.5rem 0.5rem 0; }
.cast-card .actor:hover,
.cast-card .actor:active { color: #fff; }
.cast-card .character { color: #777; font-size: 80%; font-weight: normal; padding: 0 0.5rem 1rem; }

.cast-card .no-profile-picture {
  display: block;
  background: rgba(0,0,0,0.5);
  width: 185px;
  padding-top: 80px;
  aspect-ratio:2/3;
  text-align: center;
}

.user-card { padding: 3rem; cursor: pointer; }
.user-card:hover { background: rgba(255,255,255,0.1);}
.user-card .name { display: block; text-align: center; text-transform: uppercase; margin-top: 1rem; }

.audience-link img { vertical-align: text-bottom; }
.audience-link { transition: all linear 0.15s; border-radius: 0.25rem; }
.audience-link.disabled { cursor: not-allowed; }
.audience-link:hover { background: rgba(255,255,255,0.1); }

.constrained-width + .tab-content { display: flex; flex-grow: 1; }
.air-date { opacity: 0.5; font-size: 80%; }
.episode-title { background-color: rgba(0,0,0,0.75); }
.file-details { text-align: left; }
.file-details .dt { display: inline-block; width: 90px; }
.file-details .dd { font-weight: bold; }

.section-title { margin: .5em .267em }

#cast-similar-tabs-tabpane-trailers,
#cast-similar-tabs-tabpane-similar { width: 100% }

.wish-link .year { display: inline-block; font-size: 80%; font-weight: normal; margin-left: 1rem; }
.wish-link .added { font-size: 80%; opacity: 0.5; font-weight: normal; }

.download-card { margin: 0.5rem; min-width: 450px; max-width: 600px; width: calc(25vw - 1.5rem); }
.wishlist-card { margin: 0.5rem; min-width: 450px; max-width: 600px; width: calc(25vw - 1.5rem); max-height: 300px; overflow-y: auto; }

