{
  "moviesLocalPath": "C:\\dev\\git\\jellyplay\\sample-library\\movies",
  "moviesRemotePath": "C:/dev/git/jellyplay/sample-library/movies",
  "tvshowsLocalPath": "C:\\dev\\git\\jellyplay\\sample-library\\tvshows",
  "tvshowsRemotePath": "C:/dev/git/jellyplay/sample-library/tvshows",
  "tmdbApiKey": "",
  "youtubeApiKey": ""
}