{
  "auth": "",
  "moviesLocalPath": "C:\\dev\\git\\jellyplay\\sample-library\\movies",
  "moviesRemotePath": "C:/dev/git/jellyplay/sample-library/movies",
  "tvshowsLocalPath": "C:\\dev\\git\\jellyplay\\sample-library\\tvshows",
  "tvshowsRemotePath": "C:/dev/git/jellyplay/sample-library/tvshows",
  "tmpPath": "C:/dev/git/jellyplay/sample-library/downloads",
  "tmdbApiKey": "",
  "youtubeApiKey": "",
  "ruTorrentURL": "",
  "seedboxHost": "",
  "seedboxPort": 0,
  "seedboxUser": "",
  "seedboxPassword": "",
  "seedboxPath": "",
  "yggUrl": "",
  "yggUser": "",
  "yggPwd": "",
}